@media all and (min-width: 480px) {
  .Login {
    padding: 30px 0;
    height: 650px;
    background: url(../Assets/yoda_transparent.png) no-repeat;
    background-size: auto;
    background-position: right bottom;
  }

  .Login form {
    margin: 6% auto;
    max-width: 320px;
  }
}
.login-title {
  text-align: center;
}
.text-white {
color: #fff;
}